/*********************************** Toolbar **********************************/
/* hide tabs  */
#TabsToolbar {
    visibility: collapse !important;
}

/* hide 'search with' text */
.urlbarView-results > [type="search"] .urlbarView-title-separator,
.urlbarView-results > [type="search"] .urlbarView-action {
    visibility: collapse !important;
}

/* hide 'firefox suggest' text */
.urlbarView-row[label] {
    margin-block-start: 0 !important;
}

.urlbarView-row[label]::before {
    display: none !important;
}

/* hide toolbar border */
#navigator-toolbox {
    border: none !important;
}


/************************************ Body ************************************/

/* change body border */
.browserStack {
    background-color: #2B2A33;
}

html[privatebrowsingmode] .browserStack {
    background-color: #25003E;
}

findbar {
    border-top: none !important;
}

/***************************** Sidebar Extensions *****************************/

/* hide header  */
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] #sidebar-header {
    visibility: collapse !important;
}

/* fixed width  */
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] {
    min-width: 336px !important;
    max-width: 336px !important;
    border-right: none;
}

#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] + #sidebar-splitter {
    visibility: collapse !important;
}

#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] .TabsPanel .bottom-space {
    display: none !important;
}

