[Desktop Entry]
Version=1.0
Name=Temp Chromium
GenericName=Web Browser
Comment=Access the Internet
Exec=chromium-browser --guest --password-store=basic
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=chromium-browser
Categories=Network;WebBrowser;
StartupWMClass=Chromium-browser
Keywords=web;browser;internet;
